/ros2_ws/build/
/ros2_ws/install/
/ros2_ws/log/
/ros2_ws/src/build/
/ros2_ws/src/install/
/ros2_ws/src/log/

/RL_collision_avoidance_env/
/RL_venv/
gym_pybullet_drones/
gym-pybullet-drones/gym_pybullet_drones/__pycache__/
gym-pybullet-drones/gym_pybullet_drones/control/__pycache__/
gym-pybullet-drones/gym_pybullet_drones/envs/__pycache__/
gym-pybullet-drones/gym_pybullet_drones/utils/__pycache__/

/Training/code/__pycache__/